body {
    background-color: var(--primary);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo {
    margin: 5em 0em;
    color: var(--text);
}

.buttons-enquete {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.buttons-enquete button {
    background-color: var(--secondary);
    border: none;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    justify-content: center;
}   

.button-acao button {
    padding: 15px 60px;
}

.button-drama button {
    padding: 15px 54px;
}

.button-ficcaoCientica button {
    padding: 15px 11px;
}

.button-comedia button {
    padding: 15px 44px;
}

.button-terror button {
    padding: 15px 56px;
}

.button-fantasia button {
    padding: 15px 46px;
}

.button-crime button {
    padding: 15px 57px;
}

.button-suspense button {
    padding: 15px 40px;
}

.button-thriller button {
    padding: 15px 52px;
}

.button-romance button {
    padding: 15px 42px;
}

.button-anime button {
    padding: 15px 55px;
}

.button-desenhoInfantil button {
    padding: 15px 12px;
}

a {
    text-decoration: none;
    color: var(--text);
}

.pronto {
    background-color: var(--quaternary);
    color: var(--text);
    padding: 15px 80px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    margin-top: 10vh;
}

.buttons-enquete button:hover {
    border: 2px solid var(--text);
}

.buttons-enquete button.selecionado {
    background-color: var(--text);
    color: var(--secondary);
}

