body {
    background-color: var(--primary);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    margin: 5em 0em;
    color: var(--text);
}

.buttons-enquete {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.buttons-enquete button {
    background-color: var(--secondary);
    border: none;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    justify-content: center;
    width: 22vh;
    height: 8vh;
}   



.pronto button{
    background-color: var(--quaternary);
    color: var(--text);
    border: none;
    padding: 15px 80px;
    border-radius: 25px;
    margin-top: 5em;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}

.pronto button:hover {
    background-color: var(--text);
    color: var(--quaternary);
}

.buttons-enquete button:hover {
    border: 2px solid var(--text);
}

.buttons-enquete button.selecionado {
    background-color: var(--text);
    color: var(--secondary);
}

.tituloFilmeEnquete p {
    color: var(--text);
    margin-top: 2vh;
}
