:root {
    --background: #121212;
    --primary: #231123;
    --secondary: #372554;
    --text: #FFFFFF;
    --tertiary: #1E1E1E;
    --quaternary: #48758F;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}