main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.side-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    text-align: center;
    color: #FFFFFF;
}

.side-logo img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.side-login-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--text);
    position: relative;
}

#forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-login-register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.side-login-register form input {
    font-size: smaller;
    font-weight: 400;
    margin: 15px;
    border: none;
    width: 20em;
    height: 3.5em;
    padding-left: 1.5em;
    border-radius: 15px;
    background-color: var(--tertiary);
    color: var(--text);
}

